* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Century Gothic';
    width: 100%;
    /* border: 5px solid red; */
    display: flex;
    padding-bottom: 1em;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    width: auto;
    height: auto;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


/* ------------------------------- menu ------------------------------------- */

header {
    border-bottom: 1px solid rgba(156, 118, 118, 0.541);
    height: 4em;
    width: 100%;
    background-color: white;
    padding: .5em 5% .5em 5%;
    position: fixed;
    z-index: 22;
    display: flex;
    justify-content: space-between;
}

.logo,
.log>img {
    height: auto;
    margin-left: 5%;
}

.lista,
.lista>ul {
    margin-left: 2em;
    height: auto;
    display: flex;
}

li,
li>a {
    /* border: 1px solid red; */
    background-color: rgba(248, 247, 244, 0.411);
    margin: 1em;
    font-size: larger;
    /* border-radius: 15px 15px 15px 15px;   */
}

li a:hover {
    position: relative;
    left: 2px;
    text-shadow: 2px 2px 5px rgb(122, 60, 60);
}


/* --------------------------------------------------------------------- */

main {
    padding-top: 6em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 80%;
    margin: 0em 0em 2em 0em;
    text-align: center;
    font-size: 2.5em;
}

.uno {
    color: rgb(158, 164, 255);
}

.dos {
    color: rgb(95, 102, 201);
}

.tres {
    color: rgb(240, 98, 98);
    /* background-color: blue; */
}

#tres {
    margin-top: 1em;
}


/* ------------------------------ Section ---------------------------------------- */

section {
    margin: 4em 0em 8em 0em;
    background-color: aqua;
    height: 22em;
    max-height: 22em;
    min-height: 10em;
    /* max-height: 55vh; */
    /*55vh;*/
    width: 80%;
    z-index: 0;
}

img {
    height: 100%;
    width: 100%;
}

.img {
    /* border: 1px solid blue; */
    width: 60%;
    height: 120%;
    z-index: -1;
    position: relative;
}

.contenido {
    height: 70%;
    width: 40%;
    padding: 2%;
    font-size: 150%;
    /*150%*/
    /*80% | 150%; 1.5em*/
    box-shadow: 1px 1px 5px 1px rgba(48, 48, 82, 0.404);
    background-color: rgb(255, 255, 255);
    z-index: 2;
    position: relative;
}

.borde {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    box-shadow: 1px 1px 3px 1px rgba(48, 48, 82, 0.404);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
    z-index: 10;
}

.borde p,
.borde h2 {
    margin: -1% 0em 0em 3%;
    padding: 1%;
    /* color: red; */
}


/* --------------------------------- section 1 ------------------------------------- */

.img-1 {
    left: 6%;
    bottom: 10%;
}

.contenido-1 {
    left: 50%;
    bottom: 140%;
}


/* --------------------------------- section 2 ------------------------------------- */

.img-2 {
    left: 35%;
    bottom: 10%;
}

.contenido-2 {
    left: 5%;
    bottom: 135%;
}


/* --------------------------------- section 3 ------------------------------------- */

.img-3 {
    left: 6%;
    bottom: 10%;
}

.contenido-3 {
    left: 50%;
    bottom: 140%;
}


/* --------------------------------- footer ------------------------------------- */

footer {
    padding: 1em 0em 1em oem;
    /* border: 1px solid blue; */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cerrar {
    /* text-align: center; */
    height: auto;
    /* border: 3px solid rgb(0, 255, 0); */
    display: flex;
    justify-content: center;
}

.cerrar p {
    /* border: 1px solid red; */
    width: auto;
    margin: .7em 0em .1em .7em;
    font-size: 1.5em;
    color: rgb(47, 118, 201);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer input {
    background-color: white;
    margin-top: 1.5em;
    height: 3em;
    width: auto;
    padding: 0em 6%;
    border: 3px solid rgb(47, 118, 201);
    border-radius: 1.8em;
    color: rgb(32, 54, 78);
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer input:active {
    color: #2f87db;
    background-color: white;
    padding: 1% 5.5%;
}

.clear {
    width: 3em;
}


/* ----------------------------- check --------------------------------- */

#idInput,
#idlabel {
    display: none;
}

#idInput:checked~* lu {
    /* border: 1px solid red;
    background-color: red; */
    display: none;
}


/* =================================== Responsil =================================== */

@media screen and (max-width: 800px) {
     :root {
        --color: rgba(101, 160, 236, 0.925);
    }
    h1 {
        margin: 1em 0em 2em 0em;
    }
    section {
        height: 17rem;
    }
    .borde-3 {
        justify-content: start;
    }
    .borde p,
    .borde h2 {
        font-size: 0.9em;
    }
    #idlabel {
        height: auto;
        position: relative;
        top: -1em;
        left: -2em;
        margin: 1em;
        display: flex;
        background-color: rgb(255, 255, 255);
    }
    #idInput {
        display: none;
    }
    #idInput:checked~ul {
        display: none;
    }
    #idlabel:hover,
    #idInput:hover {
        /* display: block; */
        color: rgb(91, 110, 252);
    }
    .lista>ul {
        margin-left: 2em;
        height: auto;
        width: 50%;
        border-radius: 5px;
        background-color: var(--color);
        flex-direction: column;
        align-items: flex-end;
        z-index: 10;
        position: absolute;
        right: 0em;
        top: 5em;
    }
    li,
    li>a {
        /* border: 1px solid red; */
        color: rgb(233, 233, 233);
        background-color: transparent;
        margin: 1.5em;
        font-size: larger;
        font-weight: bold;
    }
    li {
        background-color: transparent;
    }
    li a:hover {
        padding: ;
        color: rgb(246, 252, 253);
        border-bottom: 1px solid rgb(184, 205, 209);
        text-shadow: 2px 2px 5px rgb(170, 163, 163);
    }
    .cerrar {
        width: 80%;
        text-align: center;
    }
    .clear {
        width: 4em;
        height: 4em;
    }
}

@media screen and (max-width: 600px) {
    main {
        padding-top: 1em;
    }
    h1 {
        margin: 3em 0em 2em 0em;
        font-size: 1.8rem;
        width: 90%;
    }
    .borde p,
    .borde h2 {
        font-size: 0.7em;
    }
    .lista>ul {
        width: 100%;
    }
    section {
        margin: 4em 0em 8em 0em;
        width: 100%;
        height: 13em;
    }
    .cerrar {
        font-size: small;
    }
    .clear {
        width: 3.5em;
        height: 3.5em;
    }
    footer input {
        max-width: 95%;
    }
}

@media screen and (max-width: 400px) {
    section {
        margin: 2em 0em 5em 0em;
        height: 8em;
    }
    margin-top: 1.5em;
    height: 3em;
    font-size: small;
    padding: 0em 6%
}

.cerrar {
    font-size: xx-small;
}

.clear {
    width: 3.4em;
    height: 3.4em;
}

#idlabel {
    margin-top: 2em;
}


}